.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

img {
    max-width: 100%;
}

.logo {
    padding: 50px 0 35px;
    text-align: center;
}

.section {
  padding: 7rem 0rem;
  text-align: center;
}

.btn-add:before {
    content: url("../img/add_btn.png");
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px 20px 0 -10px;
}

button {
    min-width: 300px;
}