body {
    margin: 0 auto;
}


.habit-heading {
    padding-bottom: 10px;
    overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.habit-container{
    padding-bottom: 25px;
    padding-left: 10px;
}

.habit-container#first {
    background-color: #ecf0f1;
}

.habit-container#second {
}

.habit-container#third {
    background-color: #ecf0f1;
}

.habit-buttons {
    padding: 10px;
}

.circle {
	border-radius: 50%;
	behavior: url(PIE.htc);
}

.icon-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border:7px solid black;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px;
}


.frequency-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 2px solid black;
    padding: 2px;
    background-color: gold;
    margin: 4px;
}

@media (min-width:400px) {
    .frequency-circle {
        width: 30px;
        height: 30px;
    }   
}

.icon {
    display: inline-block;
    vertical-align: middle;
    height:20%;
    width:20%;
}

@media (min-width: 400px) {
    .icon {
        height: 70px;
        width: 70px;
    }
}

.thumb-circle {
    background: #27ae60;
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}

.thumbs-up {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%; 
    /*height: 80px; */
    width: 22%;
    height: auto;
}

@media (min-width: 400px) {
    .thumbs-up {
        height: 80px;
        width: 80px;
    }
}


.thumbs-down {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%; 
    /*height: 70px; */
    width: 17%;
    height: auto;
} 

@media (min-width: 400px) {
    .thumbs-down {
        height: 70px;
        width: 70px;
    }
}


.habit-name {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 2.4rem; line-height: 1.2;  letter-spacing: -.1rem;
    float: left;
}

.frequency {
    float: right;
}

.add {
    display: block;
    margin: 0 auto;
    height: 100px;
}

#progressbar {
    vertical-align: middle;
    border: black solid 2px;
    background-color: white;
    width: 100%;
}


#progressbar > div {
    background-color: green;
    width: 85%; 
    height: 20px;
}



.view-habit-header {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	background: #33C3F0;
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: white;
    overflow: hidden;
}

.stats {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    width: 60%;
}

@media (min-width: 400px){
    .stats {
        width: 225px;
    }
}

.info-container {
    overflow: hidden;
    width: 500px;
}

.percentage {
    padding-top: 10px;
    font-size: 2em;
    float: left;
}


@media (min-width:400px) {
.percentage {
    padding-top: 10px;
    font-size: 4em;
    float: left;
}
}

.percentage-heading > thumbs-up {
    float: right;
    
}

.percentage-heading {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.edit {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%; 
    width: 25%;
    height: auto;
}


@media (min-width: 400px) {
    .edit {
        height: 90px;
        width: 90px;
    }
}

.delete {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4%; 
    width: 20%;
    height: auto;
}

@media (min-width: 400px) {
    .delete {
        height: 70px;
        width: 70px;
    }
}


.times-div {
    float: right;
    width: 200px; 
    margin-right: 5px;
}

.times-circle {
    fill: gold;
    stroke: black;
    stroke-width: 2;
    height: inherit;
}





