body {
    margin: 0 auto;
}


.habit-heading {
    padding-bottom: 10px;
    overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.habit-container{
    padding-bottom: 25px;
    padding-left: 10px;
}

.habit-container#first {
    background-color: #ecf0f1;
}

.habit-container#second {
}

.habit-container#third {
    background-color: #ecf0f1;
}

.habit-buttons {
    padding: 10px;
}

@media (min-width: 750px) {
.icon {
    display: inline-block;
    vertical-align: middle;
}

.thumbs-up {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%; 
    height: 100px;
    white-space: nowrap;
}

.thumbs-down {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%; 
    height: 90px;
    white-space: nowrap;
} 
    
.habit-name {
    font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;
    float: left;
}
} 

.circle {
	border-radius: 50%;
	behavior: url(PIE.htc);
}

.icon-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border:10px solid black;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    height:70px;
    width:70px;
}

.thumb-circle {
    background: #27ae60;
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
}

.thumbs-up {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%; 
    height: 80px;
}

.thumbs-down {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%; 
    height: 70px;
} 



.habit-name {
    font-size: 2.6rem; line-height: 1.2;  letter-spacing: -.1rem;
    float: left;
}

.frequency {
    float: right;
}

.add {
    display: block;
    margin: 0 auto;
    height: 100px;
}

#progressbar {
    vertical-align: middle;
    border: black solid 2px;
    background-color: white;
    width: 250px;
}
    
#progressbar > div {
    background-color: green;
    width: 200px; /* Adjust with JavaScript */
    height: 20px;
}

.view-habit-header {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	background: #33C3F0;
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: white;
}

.stats {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}

.info-container {
    overflow: hidden;
    width: 500px;
}

.percentage {
    font-size: 4em;
    float: left;
    vertical-align: middle;
}

.percentage-heading {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
}

.edit {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%; 
    height: 90px;
}

.delete {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4%; 
    height: 70px;
}








