.icon-circles {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 800px;
	vertical-align: middle; 
	overflow: hidden; 
}

body {
	margin: auto 0;
	font-family: Roboto, helvetica, arial, sans-serif;	
}

.edit-habit-header {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	background: teal;
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: white;
}


.add-habit-button {
	height: 80px;
	background: teal;
	max-width: 800px;
	width: 80%;
	color: white;
	font-size: 2em;
	-webkit-appearance: button;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;	
}

.submit-button-div {
	margin-top: 30px;
	text-align: center;
}

.edit-habit-form {
	font-family: Roboto, helvetica, arial, sans-serif;	
	padding: 10px;
	max-width: 800px;
}

.times-div {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 800px;
	vertical-align: middle; 
	overflow: hidden; 	
	margin-top: 5px;
}

.edit-habit-form label {
	font-size: 25px;
}

.freq-div {
	margin-top: 10px;
	width: 100%;
	max-width: 800px;
	display: inline-block;
	position: relative;
}

.day-box {
	fill: silver;
}

.day-box-text {
	fill: white;
}

.selected {
	stroke: #8A4E62;
	stroke-width: 3px;
}

.times-circle {
	fill: gold;
}

.icon-circle {
	fill: teal;
}

.icon-mini-circle {
	fill: gold;
}

form input[type=text] {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	color: rgb(85, 85, 85);
	cursor: auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 34px;
	letter-spacing: normal;
	line-height: 20px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: start;
	transition-delay: 0s, 0s;
	transition-duration: 0.15s, 0.15s;
	transition-property: border-color, box-shadow;
	transition-timing-function: ease-in-out, ease-in-out;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;	
}